*{margin: 0; padding: 0; box-sizing: border-box;}

:root {
    --pri-clr: skyblue;
    --sdn-clr: lightgreen;
    --tri-clr: white;
    --quad-clr: black;
    --title-size: 30px;
    --subtitle-size:22px;
    --nor-size: 18px;
}

#container {
    width: 900px;
    height: 1100px;
    background-color: var(--quad-clr);
    margin: 0 auto;
    padding: 25px;
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: var(--title-size);
    color: var(--tri-clr);
    margin: 0 5px;

}

h2 {
    font-size: var(--subtitle-size);
    color: var(--tri-clr);
    margin: 0 5px;
}

h3 {
    font-size: var(--nor-size);
    color: var(--tri-clr);
    margin: 0 5px;
}

#section1 {
    width: 100%;
    height: 220px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: flex-start;
    border-radius: 10px;
    margin-bottom: 10px;
}

#body-left {
    background-color: var(--pri-clr);
    width: 50%;
    height: 200px;
    margin-right: 5px;
    display: flex;
    flex-direction: row;
    margin-right: 30px;
    border-radius: 10px;
}

#left-left {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#body-right {
    width: 50%;
    height: 200px;
    border-radius: 10px;
    margin-right: 5px;
    display: flex;
    flex-direction: column;
    background-color: var(--pri-clr);

}

#buttons {
    width: 100%;
    height: 130px;
    text-align: center;
    background-color: var(--sdn-clr);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#buttons button {
    height: 40px;
    width: 100px;
}

#buttons h2 {
    color: var(--quad-clr);
    margin-bottom: 30px;
    margin-top: 10px;
}

#section2 {
    margin-top: 10px;
    width: 100%;
    color: var(--quad-clr);
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;    
}

.box-holder {
    width: 100%;
    height: 150px;
    background-color: var(--sdn-clr);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border-radius: 10px;
}

.info {
    width: 100%;
    height: 250px;
    border: 1px solid black;
    margin: 10px;
}
